# Byte-compiled
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# SAM
.aws-sam/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars
infra/terraform/.build/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
